<section class="vh-100 my-5">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-6 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
             alt="Sample image">
      </div>
      <div class="col-md-6 col-lg-6 col-xl-7">

        <h3 class="text-center mb-3">Signup</h3>

        <form [formGroup]="signupForm" (ngSubmit)="doSignUp()">

          <div class="form-outline mb-4">
            <label class="form-label" for="username">Username</label>
            <input formControlName="username" type="text" id="username" class="form-control"  pattern="^(?=.{6,18}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$"/>
          </div>

          <div class="error">
            <div class="alert-danger alert" *ngIf="username && username.errors?.['required'] && active">
              This field is required!
            </div>
            <div class="alert alert-danger" *ngIf="username && username.errors?.['minlength']  && active">
              Username must be at least 6 character.
            </div>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="email">Email</label>
            <input formControlName="email" type="email" id="email" class="form-control"/>
          </div>

          <div class="error">
            <div class="alert-danger alert" *ngIf="email && email.errors?.['required']  && active">
              This field is required!
            </div>
            <div class="alert-danger alert" *ngIf="email && email.errors?.['email']  && active">
              This field is required!
            </div>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="password">Password</label>
            <input formControlName="password" type="password" id="password" class="form-control" />
          </div>

          <div class="error">
            <div class="alert-danger alert" *ngIf="password && password.errors?.['required'] && active">
              This field is required!
            </div>
            <div class="alert alert-danger" *ngIf="password && password.errors?.['minlength'] && active">
              Password must be at least 6 character.
            </div>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="address">Address</label>
            <input formControlName="address" type="text" id="address" class="form-control" />
          </div>

          <div class="form-group">
            <label for="role">Role</label>
            <select formControlName="role" class="form-control" id="role" name="role">
              <option value="USER">user</option>
              <option value="ADMIN">admin</option>
            </select>
          </div>

          <div class="form-check d-flex mb-4">
            <input  class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked aria-describedby="registerCheckHelpText" required/>
            <label class="form-check-label" for="registerCheck">
              I have read and agree to the terms
            </label>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-block mb-3" >Sign up</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account?
              <a routerLink="/login" class="link-danger">Login</a>
            </p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
