<div class="my-5 container">

  <h3 class="text-center">Dashboard</h3>

  <div class="row mt-5">

    <div class="col-6 col-md-4 col-lg-3 mt-4">
        <div class="bg-light text-center py-5 px-2">
          <h4><a routerLink="/admin/users">User CRUD</a></h4>
        </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3 mt-4">
      <div class="bg-light text-center py-5 px-2">
        <h4><a routerLink="/admin/products">Product CRUD</a></h4>
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3 mt-4">
      <div class="bg-light text-center py-5 px-2">
        <h4><a routerLink="/admin/categories">Category CRUD</a></h4>
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3 mt-4">
      <div class="bg-light text-center py-5 px-2">
        <h4><a routerLink="/admin/coupons">Coupon CRUD</a></h4>
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3 mt-4">
      <div class="bg-light text-center py-5 px-2">
        <h4><a routerLink="/admin/media">Image Manager</a></h4>
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3 mt-4">
      <div class="bg-light text-center py-5 px-2">
        <h4><a routerLink="/admin/orders">Orders</a></h4>
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3 mt-4">
      <div class="bg-light text-center py-5 px-2">
        <h4><a routerLink="/admin/sales">Sales Report</a></h4>
      </div>
    </div>

  </div>

</div>
